@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* --------------- */

.container {
  max-width: 83.75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
}

.button {
  display: inline-block;
  padding: 0.625rem 1.938rem;
  border-radius: 3.125rem;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.2rem;
}

/* Intro */

.intro {
  background-image: url(/public/assets/intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  max-width: 112.5rem;
  padding: 2.25rem 1.25rem 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  padding-left: 15.625rem;
}

.header__button {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.intro__block {
  padding-top: 11.563rem;
}

.intro__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.625rem;
  color: #ffffff;
  margin-bottom: 3.25rem;
}

.intro__time {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  padding-bottom: 13.625rem;
}

.intro__time__item {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
}

.intro__time__item-value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.125rem;
}

.intro__time__item-title {
  line-height: 1.4rem;
  color: #717171;
}

/* Stat */

.stat {
  padding: 2rem 0;
  background-color: #121212;
}

.stat__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-weight: 700;
}

.stat__inner {
  display: flex;
  align-items: center;
  gap: 5.063rem;
}

.stat__pupils {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.stat__text {
  display: flex;
  justify-content: space-between;
  gap: 1.938rem;
  color: #717171;
}

.stat__value {
  font-weight: 700;
  color: #ffffff;
}

.stat__money {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 714px;
}

.stat__text--money {
  justify-content: flex-start;
}

.money-progress__block {
  position: relative;
  padding-bottom: 0.563rem;
}

.money-progress__line {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 6px;
  background-color: #fff;
}

.money-progress__value {
  top: 0;
  left: 0;
  position: absolute;
  width: 440px;
  height: 6px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

.money-progress__values {
  display: flex;
  justify-content: space-between;
  color: #717171;
}

/* About section */

.about {
  padding: 12.5rem 0px 6.25rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8.375rem;
}

.about__img {
  width: 32.875rem;
  height: 33.875rem;
}

.about__block {
  padding-top: 4.375rem;
}

.about__title {
  margin-bottom: 2.813rem;
}

.about__text {
  padding-left: 0.438rem;
  line-height: 1.625rem;
}

/* Fast - start */

.fast-start {
  padding-top: 7.875rem;
  padding-bottom: 6.25rem;
}

.fast-start__title-block {
  display: flex;
  gap: 1.375rem;
  padding-left: 1.063rem;
  margin-bottom: 3.125rem;
}

.fast-start__img {
  width: 5.644rem;
  height: 2.759rem;
  transform: rotate(45deg);
}

.fast-start__title {
  padding-top: 0.375rem;
}

.fast-start__info {
  max-width: 25.625rem;
  margin-bottom: 5rem;
  padding-left: 0.438rem;
  line-height: 1.625rem;
  opacity: 0.5;
}

.diagram {
  width: 100%;
  display: flex;
}

.diagram__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diagram__item-title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.125rem;
  margin-bottom: 1.063rem;
}

.diagram__item:nth-of-type(1) .diagram__item-value {
  height: 5rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.diagram__item:nth-of-type(2) .diagram__item-value {
  height: 3.75rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.diagram__item:nth-of-type(3) .diagram__item-value {
  height: 1.875rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.diagram__item:nth-of-type(4) .diagram__item-value {
  height: 0.625rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.diagram__item-text {
  padding-top: 2.313rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  opacity: 0.5;
}

/* Benefits */

.benefits {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.benefits__title {
  text-align: center;
  margin-bottom: 7.5rem;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  padding: 0 1.875rem;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits__item-img {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 3.75rem;
}

.benefits__item-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin-bottom: 1.813rem;
}

.benefits__item-text {
  line-height: 1.625rem;
  text-align: center;
  max-width: 22.5rem;
  opacity: 0.8;
}

/* Partners */

.partners {
  padding-top: 8.188rem;
  padding-bottom: 6.25rem;
}

.partners__title-block {
  display: flex;
  gap: 2.375rem;
  margin-bottom: 5.438rem;
}

.partners__img {
  position: relative;
  top: 0.875rem;
  left: -0.938rem;
  transform: rotate(-135deg);
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, auto));
  grid-gap: 1px;
  background-color: #717171;
}

.partners__item {
  padding: 1.625rem 3.938rem;
  background-color: #000;
}

.partners__item-img {
  margin: 0 auto;
}
