.about {
  padding: 12.5rem 0px 6.25rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8.375rem;
}

.about__img {
  width: 32.875rem;
  height: 33.875rem;
}

.about__block {
  padding-top: 4.375rem;
}

.about__title {
  margin-bottom: 2.813rem;
}

.about__text {
  padding-left: 0.438rem;
  line-height: 1.625rem;
}
