.intro {
  background-image: url(../public/assets/intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  max-width: 112.5rem;
  padding: 2.25rem 1.25rem 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  padding-left: 15.625rem;
}

.header__button {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.intro__block {
  padding-top: 11.563rem;
}

.intro__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.625rem;
  color: #ffffff;
  margin-bottom: 3.25rem;
}

.intro__time {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  padding-bottom: 13.625rem;
}

.intro__time-item {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
}

.intro__time-item-value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.125rem;
}

.intro__time-item-title {
  line-height: 1.4rem;
  color: #717171;
}
